{% extends 'base.html.twig' %}

{% block title %}Настройки{% endblock %}

{% block body %}
    <div class="row mt-4">
        <div class="col-12 col-md-8">
            <h1>Управление пользователями</h1>
        </div>
        <div class="col-12 col-md-4 text-end">
            <a href="{{ path('app_settings_employees') }}" class="btn btn-primary">
                Сотрудники
            </a>
            <a href="{{ path('app_clients') }}" class="btn btn-primary">
                Клиенты
            </a>
            <a href="{{ path('app_crm') }}" class="btn btn-primary">
                Назад
            </a>
        </div>
    </div>

    <div class="card mb-4">
        <div class="card-header">Создать нового пользователя</div>
        <div class="card-body">
            {{ form_start(form) }}
                {{ form_row(form.email) }}
                {{ form_row(form.password) }}
                {{ form_row(form.roles) }}
                
                <button type="submit" class="btn btn-primary">Создать</button>
            {{ form_end(form) }}
        </div>
    </div>

    <h2>Список пользователей</h2>
    {# {{ dump(users) }} #}
    <table class="table">
        <thead>
            <tr>
                <th>Email</th>
                <th>Роли</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.email }}</td>
                <td>
                {% if (user.roles|first) == 'ROLE_ADMIN' %}
                Сотрудник
                {% elseif (user.roles|first) == 'ROLE_USER' %}
                Клиент
                {% elseif (user.roles|first) == 'ROLE_SUPER_ADMIN' %}
                Администратор
                {% endif %}
                </td>
                <td>
                    <a href="{{ path('app_user_edit', {'id': user.id}) }}" class="btn btn-sm btn-warning">Редактировать</a>
                    <a href="{{ path('app_user_delete', {'id': user.id}) }}" class="btn btn-sm btn-danger" onclick="return confirm('Вы уверены?')">Удалить</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}