{% extends 'base.html.twig' %}

{% block title %}Управление статусами задач{% endblock %}

{% block body %}
    <h1>Управление статусами задач</h1>

    {# <a href="{{ path('app_settings_employees_new') }}" class="btn btn-primary mb-3">Добавить сотрудника</a> #}
    <a href="{{ path('app_settings') }}" class="btn btn-primary mb-3">Назад</a>

    <div class="card mb-4">
        <div class="card-header">Создать новый статус задачи</div>
        <div class="card-body">
            {{ form_start(form) }}
                {{ form_row(form.status) }}
                <button type="submit" class="btn btn-primary">Создать</button>
            {{ form_end(form) }}
        </div>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Статус</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
            {% for status in statuses %}
                <tr>
                    <td>{{ status.id }}</td>
                    <td>{{ status.status }}</td>
                    <td>
                        <a href="{{ path('app_settings_statuses_edit', {'id': status.id}) }}" class="btn btn-sm btn-warning">Редактировать</a>
                        <form method="post" action="{{ path('app_settings_statuses_delete', {'id': status.id}) }}" onsubmit="return confirm('Вы уверены?');" style="display:inline-block;">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ status.id) }}">
                            <button class="btn btn-sm btn-danger">Удалить</button>
                        </form>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">Статусы не найдены.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}